.endurance {
    padding: 2vw 5.6vw;

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &__item{
            img{
                width: 100px;
                height: 100px;
                border-radius: 10px;
                display: block;
                margin: auto;
            }

             .endurance__btn {
                display: block;
                margin: 12px auto 0 auto;
            }
       }
    }
}
.endurance__name {
    display: block;
    text-align: center;
    margin-top: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}


