.hero{
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url('../images/resistencia-interestelar-na-agua-weyznih3sh194a7h.webp');
}

.hero__content small {
    display: block;
    margin-top: 16px;
    color: #eee;
    font-size: 0.95em;
    opacity: 0.8;
}